* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #172238;
    overflow-x: hidden;

}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #172238;
    color: white;


}

.logo {
    width: 100vw;
    height: 15vh;
position: fixed;
z-index: 1;
}

.logo img {
    width: 200px;
    position: fixed;
background-color: transparent;
top: 0;   
margin-top: 10px;
}



.container {
        width: 100vw;
        overflow:hidden;
         height: 600px;
         padding-top: 23px;
    }

#video {
    opacity: 0.2;
    margin-top: -70px;
    width: 100vw;

}


.school-one {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
margin-top: 40px;
background-image: url("/images/regent_mansoura.jpg");
background-size: cover;
}

.school-two {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
margin-top: 40px;
background-image: url("/images/regent_west.jpg");
background-size: cover;
background-position-x: -145px;

}

.school-three {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
margin-top: 40px;
background-image: url("/images/regent_east.jpg");
background-size: cover;
background-position-x: -250px;


}

.school-four {
    height: 300px;
    width: 300px;
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
margin-top: 40px;
background-image: url("/images/regent_icon.png");
background-size: cover;
background-position-x: 50px;

}

.school-one:hover {
    transform: translateY(-15px);
    background-position-x: -50px;
    transition: background-position-x 10s;
}

.school-two:hover {
    transform: translateY(-15px);
    background-position-x: -200px;
    transition: background-position-x 10s;
}

.school-three:hover {
    transform: translateY(-15px);
    background-position-x: -100px;
    transition: background-position-x 10s;
}

.school-four:hover {
    transform: translateY(-15px);
    background-position-x: 200px;
    transition: background-position-x 10s;
}

h1, a {
    color: white;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    text-decoration: none;
    padding: 4px;


}

h1:hover {
    color: #c21d28;
    transform: scale(1.1);
}
 
.wrapper {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-gap: 20px 70px;
    transform: translateY(-450px);
    background-color: transparent;
    justify-content: center;
    align-content: center;
}



@media screen and (max-width:768px) {


.wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: translateY(50px);
padding-bottom: 70px;


}

.logo img {
    width: 30vh;
    margin-bottom: 15px;

}

.school-one, .school-two, .school-three, .school-four {
    width: 70vw;
    height: 70vw; 
}


.container {
    overflow:hidden;
     height: 150vh;
     padding-top: 20px;
     object-fit: fill;
    position: fixed;
}

#video {
    opacity: 0.2;
    width: 190vh;
transform: translateX(-400px);


}

}

@media screen and (max-width:768px) and (orientation:landscape) {
    .wrapper {
        
        display:grid;
        grid-template-columns: 100px 100px;
        grid-row: auto auto;
        transform: translateY(90px);
        padding-bottom: 200px;
        grid-gap: 40px 90px;


     

}

.school-one, .school-two, .school-three, .school-four {
    width: 20vw;
    height: 20vw; 
}

.school-one {
    order: 0;
}

.school-two {
    order: 3;
}


.school-three {
    order: 6;
}


.school-four {
    order: 6;
}

h1, a {
font-size: 2.2rem;
}

.container {
    overflow:hidden;
     height: 150vh;
     padding-top: 20px;
     object-fit: fill;
    position: fixed;
}

#video {
    opacity: 0.2;
    width: 100vw;
transform: translateX(-400px);
transform: translateY(-50px);



}

.logo {
   height: 9.2rem;
   padding: 0;
   margin: 0;

}
.logo img {
width: 20%;
padding-top: 5px;
}


}

@media screen and (min-width:768px) {
    .schooltext-one {
        order: 5;
    }
    
    .schooltext-two {
        order: 6;
    }
    
    
    .schooltext-three {
        order: 7;
    }
    
    
    .schooltext-four {
        order: 8;
    }
}

@media screen and (min-width:768px) and (max-width:1295px) and (orientation: portrait) {
    
    .wrapper {
        
        display:grid;
        grid-template-columns: 300px 300px;
        grid-row: auto auto;
        transform: translateY(90px);
        padding-bottom: 200px;

     

}

.school-one {
    order: 0;
}

.school-two {
    order: 3;
}


.school-three {
    order: 6;
}


.school-four {
    order: 6;
}

h1, a {
font-size: 2.2rem;
}

.container {
    overflow:hidden;
     height: 150vh;
     padding-top: 20px;
     object-fit: fill;
    position: fixed;
}

#video {
    opacity: 0.2;
    width: 155vh;
transform: translateY(-90px);
transform: translateX(-400px);
object-fit: cover;

}

.logo img {
height: 10%;
width: auto;
padding-top: 15px;
}


}
